body{
  width: 100vw;
  height: 100vh;
  font-family: Montserrat, sans-serif;
  background: url(https://images.unsplash.com/photo-1447194047554-cfe888edc98c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 display: flex;
 align-items: center;
 justify-content: center;
}

h1, h2{
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  background-color: rgba(117, 75, 42, 0.5);

}
h1{
  border-color: #F67D00;
  border-top: 3px solid;
  border-bottom: 3px solid;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: arial;
  color: gold;
}

h2{
  color: white;
}
.buffer{
  height: 4rem;
}
.container{
  text-align: center;
}

.btn-custom{
  background-color: #db3818;
  border: 1px #db3818;
  border-radius: 100;
  animation: all 1s;
  text-align: center;
}

.btn-custom:hover{
  transform: scale(1.1);
  background-color: #db3818;
  border: 1px #db3818;
}

.btn-custom:active{
  background-color: gold  !important;
  border: 1px black  !important;
  color: black  !important;
}
